<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script th:src="@{/webjars/jquery/3.7.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>
<body>
<main>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <span class="fs-4">Simple header</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>
        </header>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-8 offset-2 mb-3">
                <a href="#" th:href="@{'/'}" class="btn btn-outline-success">
                    <i class="bi bi-arrow-left-square"></i> Back
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                <form  th:object="${recipe}" th:action="@{/recipe/}"  method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title fw-bold text-uppercase">Edit Recipe Information</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col form-group">
                                    <label>Recipe Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col form-group">
                                    <label>Categories:</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">Cat 1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                        <label class="form-check-label" for="inlineCheckbox2">Cat 2</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4 form-group">
                                    <label>Prep Time:</label>
                                    <input type="text" class="form-control" th:field="*{prepTime}"/>
                                </div>
                                <div class="col-4 form-group">
                                    <label>Cooktime:</label>
                                    <input type="text" class="form-control" th:field="*{cookTime}"/>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4 form-group">
                                    <label>Difficulty</label>
                                    <select class="form-select" th:field="*{difficulty}">
                                        <option th:each="d : ${T(org.lucius.recipe.domain.Difficulty).values()}"
                                                th:value="${d.name()}"
                                                th:text="${d.getDescription()}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-4 form-group">
                                    <label>Servings:</label>
                                    <input type="text" class="form-control" th:field="*{servings}"/>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4 form-group">
                                    <label>Source:</label>
                                    <input type="text" class="form-control" th:field="*{source}"/>
                                </div>
                                <div class="col-4 form-group">
                                    <label>URL:</label>
                                    <input type="text" class="form-control" th:field="*{url}"/>
                                </div>
                            </div>
                            <hr>
                            <h5 class="card-title fw-bold text-uppercase">Ingredients <a class="btn btn-primary" href="#" role="button">Edit</a></h5>
                            <div class="row mt-3">
                                <div class="col">
                                    <ul>
                                        <li th:remove="all">1 Cup of milk</li>
                                        <li th:remove="all">1 Teaspoon of chocolate</li>
                                        <li th:each="ingredient : ${recipe.ingredients}"
                                            th:text="${(ingredient.getAmount() +
                                            ' ' + ingredient.uom.getDescription() +
                                            ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <h5 class="card-title fw-bold text-uppercase">Directions</h5>
                            <div class="row">
                                <div class="col form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                            </div>
                            <hr>
                            <h5 class="card-title fw-bold text-uppercase">Notes</h5>
                            <input type="hidden" th:field="*{notes.id}"/>
                            <div class="row">
                                <div class="col form-group">
                                    <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>